<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input id="address" v-model="form.address" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Date of Birth"
          label-for="dob"
          :invalid-feedback="invalidFeedbackDob"
          :valid-feedback="validFeedbackDob"
          :state="stateDob"
        >
          <b-form-input id="dob" v-model="form.dob" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Mobile"
          label-for="mobile"
          :invalid-feedback="invalidFeedbackMobile"
          :valid-feedback="validFeedbackMobile"
          :state="stateMobile"
        >
          <b-form-input id="mobile" v-model="form.mobile" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>

      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
// import userService from './UserService.js'
export default {
  data () {
    return {
      title: 'เพิ่มลูกค้าใหม่',
      form: {
        _id: -1,
        name: '',
        address: '',
        dob: '',
        gender: null,
        mobile: '',
        email: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'Male', text: 'ผู้ชาย' },
        { value: 'Female', text: 'ผู้หญิง' }
      ],
      userList: [],
      fields: ['name', 'address', 'dob', 'gender', 'mobile', 'email', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (data) {
      console.log('Edit')
      console.log(data)
      this.title = 'แก้ไขลูกค้า'
      this.form = { ...data }
      this.$bvModal.show('modal-form-user')
    },
    delUser (data) {
      console.log('Del')
      console.log(data)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + data.name + ' หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(data)
            // userService.deleteUser(data)
            axios.delete('http://localhost:3000/customers/' + data._id).then(res => {
              console.log(res)
              this.getUsers()
            }).catch(err => {
              console.log(err)
            })
            // this.getUsers()
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        address: '',
        dob: '',
        gender: null,
        mobile: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateAddress === false || this.stateDob === false || this.stateGender === false || this.stateMobile === false || this.stateEmail === false) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateUser(this.form)
        // userService.updateUser(this.form)
        axios.put('http://localhost:3000/customers/', this.form).then(res => {
          console.log(res)
          this.getUsers()
        }).catch(err => {
          console.log(err)
        })
        // this.getUsers()
      } else {
        // this.addUser(this.form)
        // userService.addUser(this.form)
        delete this.form._id
        axios.post('http://localhost:3000/customers/', this.form).then(res => {
          console.log(res)
          this.getUsers()
        }).catch(err => {
          console.log(err)
        })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUsers () {
      // this.userList = userService.getUsers()
      axios.get('http://localhost:3000/customers').then(res => {
        console.log(res)
        this.userList = res.data
      }).catch(err => {
        console.log(err)
      })
    }
  },
  mounted () {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
    console.log('Vue component is mounted.')
    this.getUsers()
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    stateName () {
      return this.form.name.length >= 3
    },
    invalidFeedbackName () {
      if (this.form.name.length >= 3) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },

    stateAddress () {
      return this.form.address.length >= 3
    },
    invalidFeedbackAddress () {
      if (this.form.address.length >= 3) {
        return ''
      } else if (this.form.address.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่ที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },

    stateDob () {
      return this.form.dob.length >= 3
    },
    invalidFeedbackDob () {
      if (this.form.dob.length >= 3) {
        return ''
      } else if (this.form.dob.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่วันเกิด'
      }
    },
    validFeedbackDob () {
      return this.stateDob === true ? 'สำเร็จ' : ''
    },

    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },

    stateMobile () {
      return this.form.mobile.length >= 3
    },
    invalidFeedbackMobile () {
      if (this.form.mobile.length >= 3) {
        return ''
      } else if (this.form.mobile.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่เบอร์โทรศัพท์'
      }
    },
    validFeedbackMobile () {
      return this.stateMobile === true ? 'สำเร็จ' : ''
    },

    stateEmail () {
      return this.form.email.length >= 3
    },
    invalidFeedbackEmail () {
      if (this.form.email.length >= 3) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่เบอร์ E-mail'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
