<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Price"
          label-for="price"
          :invalid-feedback="invalidFeedbackPrice"
          :valid-feedback="validFeedbackPrice"
          :state="statePrice"
        >
          <b-form-input id="price" v-model="form.price" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Cost"
          label-for="cost"
          :invalid-feedback="invalidFeedbackCost"
          :valid-feedback="validFeedbackCost"
          :state="stateCost"
        >
          <b-form-input id="cost" v-model="form.cost" required></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
// import userService from './UserService.js'
export default {
  data () {
    return {
      title: 'เพิ่มสินค้าใหม่',
      form: {
        _id: -1,
        name: '',
        price: 0,
        cost: 0
      },
      userList: [],
      fields: ['name', 'price', 'cost', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (data) {
      console.log('Edit')
      console.log(data)
      this.title = 'แก้ไขสินค้า'
      this.form = { ...data }
      this.$bvModal.show('modal-form-user')
    },
    delUser (data) {
      console.log('Del')
      console.log(data)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + data.name + ' หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(data)
            // userService.deleteUser(data)
            axios.delete('http://localhost:3000/products/' + data._id).then(res => {
              console.log(res)
              this.getUsers()
            }).catch(err => {
              console.log(err)
            })
            // this.getUsers()
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        price: 0,
        cost: 0
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.statePrice === false || this.stateCost === false) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateUser(this.form)
        // userService.updateUser(this.form)
        axios.put('http://localhost:3000/products', this.form).then(res => {
          console.log(res)
          this.getUsers()
        }).catch(err => {
          console.log(err)
        })
        // this.getUsers()
      } else {
        // this.addUser(this.form)
        // userService.addUser(this.form)
        delete this.form._id
        axios.post('http://localhost:3000/products', this.form).then(res => {
          console.log(res)
          this.getUsers()
        }).catch(err => {
          console.log(err)
        })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUsers () {
      // this.userList = userService.getUsers()
      axios.get('http://localhost:3000/products').then(res => {
        console.log(res)
        this.userList = res.data
      }).catch(err => {
        console.log(err)
      })
    }
  },
  mounted () {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
    console.log('Vue component is mounted.')
    this.getUsers()
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    stateName () {
      return this.form.name.length >= 3
    },
    invalidFeedbackName () {
      if (this.form.name.length >= 3) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },

    statePrice () {
      return this.form.price >= 0
    },
    invalidFeedbackPrice () {
      if (this.form.price >= 0) {
        return ''
      } else {
        return 'กรุณากรอกให้ถูกต้อง'
      }
    },
    validFeedbackPrice () {
      return this.statePrice === true ? 'สำเร็จ' : ''
    },

    stateCost () {
      return this.form.cost >= 0
    },
    invalidFeedbackCost () {
      if (this.form.cost >= 0) {
        return ''
      } else {
        return 'กรุณากรอกให้ถูกต้อง'
      }
    },
    validFeedbackCost () {
      return this.stateCost === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
